[submodule "users"]
	path = users
	url = https://github.com/MS-turism-PUJ/users.git
[submodule "registry"]
	path = registry
	url = https://github.com/MS-turism-PUJ/registry.git
[submodule "apigateway"]
	path = apigateway
	url = https://github.com/MS-turism-PUJ/apigateway.git
[submodule "webapp"]
	path = webapp
	url = https://github.com/MS-turism-PUJ/webapp.git
[submodule "services"]
	path = services
	url = https://github.com/MS-turism-PUJ/services.git
[submodule "payment"]
	path = payment
	url = https://github.com/MS-turism-PUJ/payment.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/Code-Crafters-PUJ/config-server.git
